.Farmer {
    margin: 20px auto;
    width: 85%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    button {
        background-color: green;
        border: solid lightgreen;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }
}

@media (min-width: 1025px) {
    .Farmer {
        width: 40%;
    }
}